body{
    background-color: antiquewhite;
    color: black;
    text-align: justify;
    font-size: 30px;
}

h1{
    background-color: darkred;
    color: white;
    text-align: center;
    font-size: 40px;
}